<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(FrontendBlazor.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(FrontendBlazor.Shared.MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>